VITE_DEEPSEEK_API_KEY=sk-9fafa77cc6f84cdf80c92ca2c17fe2c4
VITE_MINIMAX_API_KEY=sk-api-IxmY5uiSH6MmO0EkjXm7L2DG7T2w9KXghoIh6pWOoU-uGRHQ5shTNmrapCZQzL9aRfSAkKX-j9L4TbxOui4O9z9miuP0YW02TzFSr0cAQYSEtCJexb1VjWY
VITE_MINIMAX_GROUP_ID=1998334836502172241
VITE_IMAGE_API_KEY=
